{#
/**
 * @file import_content_entity.html.twig
 * Default theme implementation to present Import Content data.
 *
 * This template is used when viewing Import Content pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_import_content_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('import_content_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
